{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card marginTop">
        <div class="card-header">
            {% if item.itemNumber != None %}
                {{ item.itemNumber }} {{ item.description }}
            {% else %}
                {{ item.description }}
            {% endif %}
        </div>
        <div class="card-body">
            <p>Mennyiség: {{ item.quantity }}</p>
            <p>Egység: {{ item.unit }}</p>
            <p>Anyag egységár: {{ item.unitPriceOfMaterial }}</p>
            <p>Díj egységre: {{ item.pricePerUnit }}</p>
        </div>
    </div>
{% endblock %}