{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="itemTree" class="container">
        <ul>
            {% for item in rootList %}
                <li>
                    <div class="row">
                        <div class="col-8">
                            <a href="#firstLevel{{ forloop.counter }}" data-toggle="collapse">{{ item.description }}</a>
                        </div>
                        <div class="col-4 text-right">
                            <a href="#"><i class="fas fa-plus"></i></a>
                            <a href="#"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div id="firstLevel{{ forloop.counter }}" class="collapse">
                        <ul>
                            {% for child1 in item.children %}
                                <li>
                                    <div class="row">
                                        <div class="col-8">
                                            <a href="#secondLevel{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                               data-toggle="collapse">{{ child1.itemNumber }} {{ child1.description }}</a>
                                        </div>
                                        <div class="col-4 text-right">
                                            <a href="#"><i class="fas fa-plus"></i></a>
                                            <a href="#"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div id="secondLevel{{ forloop.parentloop.counter }}{{ forloop.counter }}" class="collapse">
                                        <ul>
                                            {% for child2 in child1.children %}
                                                <li>
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <a href="#thirdLevel{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                               data-toggle="collapse">{{ child2.itemNumber }} {{ child2.description }}</a>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <a href="#"><i class="fas fa-plus"></i></a>
                                                            <a href="#"><i class="fas fa-trash"></i></a>
                                                        </div>
                                                    </div>
                                                    <div id="thirdLevel{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                         class="collapse">
                                                        <ul>
                                                            {% for child3 in child2.children %}
                                                                <li>
                                                                    <div class="row">
                                                                        <div class="col-8">
                                                                            <a href="#fourthLevel{{ forloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                                               data-toggle="collapse">{{ child3.itemNumber }} {{ child3.description }}</a>
                                                                        </div>
                                                                        <div class="col-4 text-right">
                                                                            <a href="#"><i class="fas fa-plus"></i></a>
                                                                            <a href="#"><i class="fas fa-trash"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div id="fourthLevel{{ forloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                                         class="collapse">
                                                                        <ul>
                                                                            {% for child4 in child3.children %}
                                                                                <li>
                                                                                    <div class="row">
                                                                                        <div class="col-8">
                                                                                            <a href="#fifthLevel{{ forloop.parentloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                                                               data-toggle="collapse">{{ child4.itemNumber }} {{ child4.description }}</a>
                                                                                        </div>
                                                                                        <div class="col-4 text-right">
                                                                                            <a href="#"><i class="fas fa-plus"></i></a>
                                                                                            <a href="#"><i class="fas fa-trash"></i></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="fifthLevel{{ forloop.parentloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                                                         class="collapse">
                                                                                        <ul>
                                                                                            {% for child5 in child4.children %}
                                                                                                <li>
                                                                                                    <div class="row">
                                                                                                        <div class="col-8">
                                                                                                            <a href="#sixthLevel{{ forloop.parentloop.parentloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                                                                               data-toggle="collapse">{{ child5.itemNumber }} {{ child5.description }}</a>
                                                                                                        </div>
                                                                                                        <div class="col-4 text-right">
                                                                                                            <a href="#"><i class="fas fa-plus"></i></a>
                                                                                                            <a href="#"><i class="fas fa-trash"></i></a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div id="sixthLevel{{ forloop.parentloop.parentloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.parentloop.counter }}{{ forloop.parentloop.parentloop.counter }}{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                                                                                                         class="collapse">
                                                                                                        <ul>
                                                                                                            {% for child6 in child5.children %}
                                                                                                                <li>
                                                                                                                    {{ child6.itemNumber }} {{ child6.description }}
                                                                                                                </li>
                                                                                                            {% endfor %}
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {#                <a href="#firstLevel1" data-toggle="collapse">Egyéb kiegészítő erőforrások</a>#}
                    {#                <div id="firstLevel1" class="collapse">#}
                    {#                    <ul>#}
                    {#                        {% for item in rootList %}#}
                    {#                            {% if item.itemNumber in firstLevelList %}#}
                    {#                                <li>#}
                    {#                                    <a href="#secondLevel{{ forloop.counter }}"#}
                    {#                                       data-toggle="collapse">{{ item.description }}</a>#}
                    {#                                </li>#}
                    {#                            {% endif %}#}
                    {#                        {% endfor %}#}
                    {#                    </ul>#}
                    {#                </div>#}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}