{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="marginTop">
        <a type="button" class="btn btn-success " href={% url 'offer' %}><i class="fas fa-plus"></i> Új ajánlat készítése</a>
        <table class="table">
            <tr>
                <th>Név</th>
                <th>Dátum</th>
            </tr>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.name }}</td>
                    <td>{{ offer.date }}</td>
                    <td><a href="{% url 'print' offer_id=offer.id %}"><i class="fas fa-print"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}