{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="marginTop">
        <table class="table">
{#            <tr>#}
{#                <th>Név</th>#}
{#                <th>Dátum</th>#}
{#            </tr>#}
            {% for category in categoryList %}
                <tr>
                    <td>{{ category.itemNumber }}</td>
                    <td>{{ category.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}